<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Askrypt</string>
    <key>CFBundleDisplayName</key>
    <string>Askrypt</string>
    <key>CFBundleIdentifier</key>
    <string>com.askrypt.app</string>
    <key>CFBundleVersion</key>
    <string>{{VERSION}}</string>
    <key>CFBundleShortVersionString</key>
    <string>{{VERSION}}</string>
    <key>CFBundleExecutable</key>
    <string>askrypt</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>askrypt</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.14</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © Ruslan Absaliamov. Apache-2.0</string>
</dict>
</plist>
